# Exercises Part I
## Use pandas to create a Series named fruits from the following list:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

Use Series attributes and methods to explore your fruits Series.

In [4]:
#imports
import pandas as pd #this alias is standard in industry
import numpy as np

In [6]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [7]:
fruits

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

#### 1. Determine the number of elements in fruits.

In [8]:
fruits_series = pd.Series(fruits)
fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [66]:
fruits_series.size

17

#### 2. Output only the index from fruits.

In [49]:
fruits_series.index

RangeIndex(start=0, stop=17, step=1)

#### 3. Output only the values from fruits.

In [50]:
fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

#### 4. Confirm the data type of the values in fruits.

In [52]:
type(fruits_series)

pandas.core.series.Series

In [67]:
fruits_series.dtypes

dtype('O')

#### 5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [53]:
fruits_series.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [54]:
fruits_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [55]:
fruits_series.sample(2)

5    honeycrisp apple
8            honeydew
dtype: object

#### 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [56]:
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

#### 7. Run the code necessary to produce only the unique string values from fruits.

In [68]:
fruits_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [57]:
fruits_series.value_counts().values

array([4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

#### 8. Determine how many times each unique string value occurs in fruits.

In [69]:
fruits_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

#### 9. Determine the string value that occurs most frequently in fruits.

In [62]:
fruits_series.value_counts().nlargest(1)

kiwi    4
dtype: int64

In [61]:
fruits_series.value_counts().head(1)

kiwi    4
dtype: int64

#### 10.Determine the string value that occurs least frequently in fruits.

In [33]:
fruits_series.value_counts().tail(1)

papaya    1
dtype: int64

In [63]:
fruits_series.value_counts().nsmallest(1)

strawberry    1
dtype: int64

In [64]:
fruits_series.value_counts().nsmallest(keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

# Exercises Part II
### Explore more attributes and methods while you continue to work with the fruits Series.

#### 1. Capitalize all the string values in fruits.

In [10]:
fruits_series.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [11]:
fruits_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

#### 2. Count the letter "a" in all the string values (use string vectorization).

In [12]:
fruits_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

#### 3. Output the number of vowels in each and every string value.

In [20]:
fruits_series.str.count(r'[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [19]:
fruits_series.str.count(r'[aeiou]').sum()

49

#### 4. Write the code to get the longest string value from fruits.

In [22]:
fruits_series.str.len()

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64

In [30]:
print(fruits_series[fruits_series.str.len() == fruits_series.str.len().max()])
fruits_series[fruits_series.str.len() == fruits_series.str.len().max()].str.len()

5    honeycrisp apple
dtype: object

5    16
dtype: int64

#### 5. Write the code to get the string values with 5 or more letters in the name.

In [31]:
fruits_series[fruits_series.str.len()>= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

#### 6. Find the fruit(s) containing the letter "o" two or more times.

In [32]:
fruits_series[fruits_series.str.count('o') >= 2]

6         tomato
15    gooseberry
dtype: object

#### 7. Write the code to get only the string values containing the substring "berry".

In [41]:
fruits_series[fruits_series.str.contains(pat='berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

#### 8. Write the code to get only the string values containing the substring "apple".

In [49]:
fruits_series[fruits_series.str.contains(pat='apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

#### 9. Which string value contains the most vowels?

In [56]:
fruits_series[fruits_series.str.count(r'[aeiou]').nlargest(1)]

5    honeycrisp apple
dtype: object

# Exercises Part III
### Use pandas to create a Series named letters from the following string. The easiest way to make this string into a Pandas series is to use list to convert each individual letter into a single string on a basic Python list.

'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

In [66]:
letters_string = ('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy')

In [68]:
letters_list = list(letters_string)
letters_list

['h',
 'n',
 'v',
 'i',
 'd',
 'd',
 'u',
 'c',
 'k',
 'k',
 'q',
 'x',
 'w',
 'y',
 'm',
 'b',
 'i',
 'm',
 'k',
 'c',
 'c',
 'e',
 'x',
 'b',
 'k',
 'm',
 'q',
 'y',
 'g',
 'k',
 'x',
 'o',
 'y',
 'n',
 'd',
 'm',
 'c',
 'x',
 'n',
 'w',
 'q',
 'a',
 'r',
 'h',
 'y',
 'f',
 'f',
 's',
 'j',
 'p',
 's',
 'r',
 'a',
 'b',
 't',
 'j',
 'z',
 's',
 'y',
 'p',
 'm',
 'z',
 'a',
 'd',
 'f',
 'a',
 'v',
 'y',
 'r',
 'n',
 'n',
 'd',
 'n',
 'd',
 'v',
 's',
 'w',
 'r',
 'e',
 'a',
 'u',
 'x',
 'o',
 'v',
 'n',
 'c',
 'x',
 't',
 'w',
 'z',
 'p',
 'w',
 'e',
 'j',
 'i',
 'l',
 'z',
 'j',
 'r',
 'm',
 'm',
 'b',
 'b',
 'g',
 'b',
 'y',
 'x',
 'v',
 'j',
 't',
 'e',
 'w',
 'q',
 't',
 'h',
 'a',
 'f',
 'n',
 'b',
 'k',
 'q',
 'p',
 'l',
 'a',
 'r',
 'o',
 'k',
 'k',
 'y',
 'y',
 'd',
 't',
 'u',
 'b',
 'b',
 'm',
 'n',
 'e',
 'x',
 'o',
 'y',
 'p',
 'u',
 'l',
 'z',
 'w',
 'f',
 'h',
 'q',
 'v',
 'c',
 'k',
 'd',
 'p',
 'q',
 't',
 'p',
 'o',
 'p',
 'p',
 'z',
 'q',
 'r',
 'm',
 'c',
 'v',
 'h',
 'h',
 'p',
 'w',
 'g',
 'j',
 'w',
 'u',
 'p',
 'g',
 'z',
 'h',
 'i',
 'o',
 'f',
 'o',
 'h',
 'a',
 'w',
 'y',
 't',
 'l',
 's',
 'i',
 'y',
 'e',
 'c',
 'u',
 'p',
 'r',
 'o',
 'g',
 'u',
 'y']

#### 1. Which letter occurs the most frequently in the letters Series?

In [70]:
letters_series = pd.Series(letters_list)
letters_series

0      h
1      n
2      v
3      i
4      d
      ..
195    r
196    o
197    g
198    u
199    y
Length: 200, dtype: object

In [79]:
letters_series.value_counts().nlargest(1)

y    13
dtype: int64

#### 2. Which letter occurs the Least frequently?

In [80]:
letters_series.value_counts().nsmallest(1)

l    4
dtype: int64

#### 3. How many vowels are in the Series?

In [82]:
letters_series[letters_series.apply(lambda n: n in "aeiou")].count()

34

#### 4. How many consonants are in the Series?

In [83]:
letters_series[letters_series.apply(lambda n: n not in "aeiou")].count()

166

#### 5. Create a Series that has all of the same letters but uppercased.

In [84]:
letters_series.str.upper()

0      H
1      N
2      V
3      I
4      D
      ..
195    R
196    O
197    G
198    U
199    Y
Length: 200, dtype: object

#### 6. Create a bar plot of the frequencies of the 6 most commonly occuring letters.

### Use pandas to create a Series named numbers from the following list:

In [2]:
['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

['$796,459.41',
 '$278.60',
 '$482,571.67',
 '$4,503,915.98',
 '$2,121,418.3',
 '$1,260,813.3',
 '$87,231.01',
 '$1,509,175.45',
 '$4,138,548.00',
 '$2,848,913.80',
 '$594,715.39',
 '$4,789,988.17',
 '$4,513,644.5',
 '$3,191,059.97',
 '$1,758,712.24',
 '$4,338,283.54',
 '$4,738,303.38',
 '$2,791,759.67',
 '$769,681.94',
 '$452,650.23']

#### 1. What is the data type of the numbers Series?

#### 2. How many elements are in the number Series?

#### 3. Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

#### 4. Run the code to discover the maximum value from the Series.

#### 5. Run the code to discover the minimum value from the Series.

#### 6. What is the range of the values in the Series?

#### 7. Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

#### 8. Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

### Use pandas to create a Series named exam_scores from the following list:

In [3]:
[60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]

[60,
 86,
 75,
 62,
 93,
 71,
 60,
 83,
 95,
 78,
 65,
 72,
 69,
 81,
 96,
 80,
 85,
 92,
 82,
 78]

#### 1. How many elements are in the exam_scores Series?

#### 2. Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.

#### 3. Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

#### 4. Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.

#### 5. Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

#### 6. Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.